__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/
*.code-workspace

# IDE
.idea/
*.swp
*.swo
*~

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
